<header>
  <hgroup>
    <h1 class="title-white">
      {{ page.title | default: site.title | default: site.github.repository_name }}
    </h1>
    <h2 class="title-white">
      {{ page.description | default: site.description | default: site.github.project_tagline }}
    </h2>
  </hgroup>

  <nav class="nav-center">
    <ul>
      <li>
        <a href="https://github.com/{{ site.github_username }}">
          <img src="/assets/images/GitHub-Mark.png" alt="GitHub">
        </a>
      </li>
      <li>
        <a href="https://blog.ptcookie.dev/">
          <img src="/assets/images/Hashnode.png" alt="Blog">
        </a>
      </li>
    </ul>
  </nav>
</header>
