<style media="screen">
  #intro-container {
    display: flex;

    position: fixed;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    background: var(--console-background);

    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 1rem;
    color: var(--console-color);

    z-index: 99;

    animation: fade-out 1s linear 3s forwards;
  }

  .intro {
    width: 9.75rem;

    overflow: hidden;
    box-sizing: content-box;
    border-right: 0.5rem solid;
    white-space: nowrap;

    animation: typing 1s steps(16), caret 1s steps(1) 4;
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes typing {
    from {
      width: 0
    }
  }

  @keyframes caret {
    50% {
      border-right-color: transparent;
    }
  }

  @media screen and (min-width: 36rem){
    #intro-container {
      font-size: 1.5rem;
    }

    .intro {
      width: 15rem;

      border-right: 1rem solid;
    }
  }

  @media screen and (min-width: 48rem){
    #intro-container {
      font-size: 2rem;
    }

    .intro {
      width: 20rem;

      border-right: 1.5rem solid;
    }
  }

  @media screen and (min-width: 64rem){
    #intro-container {
      font-size: 3rem;
    }

    .intro {
      width: 30rem;

      border-right: 2rem solid;
    }
  }
</style>

<div id="intro-container">
  >&nbsp;<div class="intro">whoami(ptCookie)</div>
</div>
